body {
   
   background-color: rgb(250, 241, 211);
}
.buttonbar{
   overflow: hidden;
   display: flex;
   gap: 1rem;
   width: 100%;
   height: 5rem;
   justify-content: center;
   align-items: center;
   background-color: rgb(231, 214, 195) ;
   
}
.buttonbar.fixed {
   position: fixed;
}
.buttonbar p{
   font-size: larger;
   font-weight: bold;
   background-color: white;
   padding:  0.5rem 1rem  0.5rem 1rem ;
   border-radius: 8px;
}

.btn {
   align-self: center;
   line-height: 50%;
   height: 50%;
   padding:0.6em 2em;
   border-radius: 8px;
   background-color: rgb(196, 180, 202);
   color: rgb(250, 250, 245);
   font-size: large;
   font-weight: bold;
   border: 0;

}

.btn:hover{
   background-color: black;
}

.btn:disabled {
   background-color: grey;
}

.charactersContainer{
   display: flex ;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

}

.character {
   display: flex;
   flex-direction: column;
   flex: 0 1 20%;
   margin: 2rem;
   padding: 2rem;
   background-color: rgb(190, 215, 177);
   color: rgb(55, 48, 39);
}
.character h2 {
   text-align: center;
   margin-bottom: 0.5rem;
}

.character img {
   margin-bottom: 0.5rem;
   
}

.character img:hover {
   border: 0.4rem solid rgb(160, 156, 120);
}

.moreInfo {
   margin-top: 1rem;
   text-align: center;
   background-color: rgb(231, 248, 248);
}
